/* General Styles */
body {
    font-family: Arial, sans-serif;
    color: #E0E0E0; /* Default text color */
    background-color: #000000; /* Background color for the entire page */
}

/* Donation List Styles */
.donation-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donation-item {
    background-color: #000000; /* Background color for donation items */
    margin: 10px 0;
    padding: 15px;
    border-radius: 12px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideUp 1s ease-in-out;
    box-sizing: border-box;
}

.donation-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 15px;
}

.donation-details {
    text-align: center;
}

.donation-details h3 {
    margin: 0;
    color: #D32F8F; /* Pink color for headings */
    font-size: 1.8em;
    font-family: Arial, sans-serif; /* Arial font */
}

.donation-details p {
    margin: 5px 0;
    color: #D32F8F; /* Pink color for paragraph text */
    font-size: 1.2em;
    font-family: Arial, sans-serif; /* Arial font */
}

.buy-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #D32F8F; /* Pink color for button */
    color: #E0E0E0; /* Light text color on button */
    text-decoration: none;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: Arial, sans-serif; /* Arial font */
}

.buy-button:hover {
    background-color: #C2185B; /* Darker pink for hover effect */
    transform: scale(1.05);
}
